---
Language:        Cpp
BasedOnStyle:  Google
PointerAlignment: Right
AccessModifierOffset: -4
ColumnLimit:     120
IndentWidth:     4
TabWidth:        4
---
Language:        Proto
BasedOnStyle:  Google
ColumnLimit:     120
IndentWidth:     4
TabWidth:        4
BreakBeforeBraces: Allman